# # Ignore everything
# *

# # Except these files and directories
# !composer.json
# !composer.lock
# !src/
# !public/
# !config/
# !bin/
# !vendor/
# !phpunit.xml.dist
# !docker-compose.yml
# !Dockerfile
# !crontab
# !entrypoint.sh
