{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Login</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="mb-3">
                <label for="username" class="form-label">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" checked>
                <label class="form-check-label" for="remember_me">
                    Keep me logged in
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}